body{
    background-color: rgb(33, 34, 43);

}
.flex{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
}
ul a {
    color: rgb(175, 175, 175);
}
li{

    list-style-type: none;
}
a{
    text-decoration: none;
}
.bordure{
    border: 2px solid rgb(21, 23, 26);
}
img{
    width: 100%;
}
.center{
    text-align: center;
}
.blockAffichage{
    color: white;
    background-color: rgb(21, 27, 34);
    width: 300px;
    margin: 50px 10px;
    padding-bottom: 10px;
}
main{
    width: 90%;
    margin: 0 auto;
}
table,th,td{
    border: 1px solid rgb(121, 120, 120);
    border-collapse: collapse;
}
.alert{
    padding : 15px;
}
.alert_success{
    border: 1px solid green;
    color: green;
    box-shadow: 5px 5px 5px green;
}
.alert-modify{
    border: 1px solid yellowgreen;
    color: green;
    box-shadow: 5px 5px 5px yellowgreen;
}
.prix{
    background-color: rgb(59, 59, 59);
    border: 1px solid rgb(92, 92, 92);
    width: 40px;
    padding: 10px 0;
    color: rgb(180, 92, 40);
}
p a{
    color: rgb(175, 175, 175);
}